<!-- css and html source https://medium.com/@aliciagilbert.itsimplified/a-slick-crud-application-built-using-python-with-flask-and-sqlite3-to-teach-simple-mysql-queries-bd75e1109582 -->
<head>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='styles/styles.css') }}"
    />
</head>
<body>
    <div class="navbar">
        <li><a href="./">Home</a></li>
        <li><a href="./flowers">Flowers</a></li>
        <li><a href="./sightings">Sightings</a></li>
        <li><a href="./features">Features</a></li>
        <li><a href="./members">Members</a></li>
    </div>
    <div class="container">
        <div class="header">
            <h1>Features Table</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Location</th>
                        <th>Class</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Map</th>
                        <th>Elev</th>
                    </tr>
                </thead>
                {% for tuple in tuples %}
                <tr>
                    <td>{{tuple[0]}}</td>
                    <td>{{tuple[1]}}</td>
                    <td>{{tuple[2]}}</td>
                    <td>{{tuple[3]}}</td>
                    <td>{{tuple[4]}}</td>
                    <td>{{tuple[5]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
