<!-- css and html source https://medium.com/@aliciagilbert.itsimplified/a-slick-crud-application-built-using-python-with-flask-and-sqlite3-to-teach-simple-mysql-queries-bd75e1109582 -->
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='styles/styles.css') }}"
    />
</head>
<body>
    <div class="navbar">
        <li><a href="./">Home</a></li>
        <li><a href="./flowers">Flowers</a></li>
        <li><a href="./sightings">Sightings</a></li>
        <li><a href="./features">Features</a></li>
        <li><a href="./members">Members</a></li>
    </div>

    {% block content %}
    {% if 'ten_recent_flowers' in request.url %}
    <div class="header">
        <h1>10 Most Recent Sightings of {{tuples[0][0]}}</h1>
    </div>
    <table class = 'table' style= 'margin-left: 100px; margin-right: 100px; width: 90%;'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Person</th>
                    <th>Location</th>
                    <th>Sighted</th>
                </tr>
            </thead>
            {% for tuple in tuples %}
                <tr>
                    <td>{{tuple[0]}}</td>
                    <td>{{tuple[1]}}</td>
                    <td>{{tuple[2]}}</td>
                    <td>{{tuple[3]}}</td>
                </tr>
            {% endfor %}    
    </table>

    {% elif 'sql_update_flowers' in request.url %}
    <div class="header">
        <h1>Update Selected Flower Information</h1>
    </div>
    <form action = "update_flower" method = "POST" class="update-form">
        <div class="form-container">
            <p>Genus<input class="form-control" type= "text" name = "newGenus" style='width: 100%' value='{{oldTuple[0]}}'/></p>
            <p>Species<input class="form-control" type= "text" name = "newSpecies" style='width: 100%' value='{{oldTuple[1]}}'/></p>
            <p>Comname<input class="form-control" type= "text" name = "newComname" style='width: 100%' value='{{oldTuple[2]}}'/></p>
            <input type ="hidden" name = "oldComname" value='{{oldTuple[2]}}' />
            <p><input class="btn-primary" type = "submit" value = "Update Flower Information" /></p>
        </div>
    </form>
    {% else %}

    <div class="container">
        <div class="header">
            <h1 >Flowers Table</h1>
        </div>
        <div class="table-responsive">
            <table class = 'table'>
                <thead class="thead-dark">
                    <tr>
                        <th>Genus</th>
                        <th>Species</th>
                        <th>Comname</th>
                        <th>Update</th>
                        <th>10 Most Recent Sightings</th>
                    </tr>
                </thead>
                {% for tuple in tuples %}
                <tr>
                    <td>{{tuple[0]}}</td>
                    <td>{{tuple[1]}}</td>
                    <td>{{tuple[2]}}</td>
                    <td class="edit">
                        <a href= {{ url_for('sql_updatelink' ,oldGenus=tuple[0], oldSpecies=tuple[1], oldComname=tuple[2]) }}>Edit</a>
                    </td>
                    <td class="edit">
                        <a href= {{ url_for('sql_get_ten_recent' ,eComname=tuple[2]) }}>Link</a>
                    </td>
                </tr>
                {% endfor %}    
            </table>
            {% endif %}
            {% endblock content %}
        </div>
    </div>
    </body>